
.dropzone {
  border: 2px dashed #fe0000;
  height: '60px';
  width: '100px';
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  margin: 25px;
  font-size: 1.5em;
  color: #000000;
  cursor: pointer;
  &:hover {
    border-color: #0a0000;
  }
}


.ShareFiles {
  overflow-x: scroll;
  overflow-y: scroll;
  height: 300px;
  width: 300px;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
} 


.SharedFiles {
  overflow-x: scroll;
  overflow-y: scroll;
  height: 100px;
  width: 300px;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
} 





