.content {
    width: 10em;
    height: 10em;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
    border-color: transparent;

    padding: 2px;
    border-radius: 2px;

    position: absolute;
    z-index: 0;
}