.body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.handle {
    background-color: #979593;
    width: 30px;
    height: 5px;
    border-radius: 5px;
}
.handle:hover {
    cursor: grab;
}
.handle:active {
    cursor: grabbing;
}