.body {
    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 10px;
}

.textArea {
    width: 100%;
    height: 100%;

    resize: none;
    border: none;
}

.textArea:focus {
    outline: none;
}