#canvas-host {
  position: relative;
  width: 100vw;
  height: 100vh;
  border: 1px solid black;
  background-color: white;
  z-Index: 1;
  }

#tool-bar {
  position: relative;
  top: -13vh;
  left: 50%;
  z-index: 2;
}

.tool-first-level {
  position: relative;
  top: -13vh;
  left: -50%;
  z-index: 2;
}
